body {
	font-family: 'Josefin Sans', sans-serif, 'Open Sans';
  height: 100%;
}

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}


section {
  float:left;
  width:100%;
  background:#fff;
  position:relative;
  box-shadow:0 0 5px 0px #333;
}


/* the important styles */

.arrow-wrap {
  position:absolute;
  z-index:1;
  left:50%;
  top: -10em;
  margin-left:-5em;
  background: #3A3939;
  width:10em;
  height:10em;
  padding:4em 2em;
  border-radius:50%;
  font-size:0.30em;
  display:block;
  box-shadow: none;
}

.arrow {
  float:left;
  position:relative;
  width: 0px;
height: 0px;
border-style: solid;
border-width: 3em 3em 0 3em;
border-color: #ffffff transparent transparent transparent;
  -webkit-transform:rotate(360deg)
}

.arrow:after {
  content:'';
  position:absolute;
  top:-3.2em;
  left:-3em;
  width: 0px;
height: 0px;
border-style: solid;
border-width: 3em 3em 0 3em;
border-color: #3A3939 transparent transparent transparent;
  -webkit-transform:rotate(360deg)
}


.hint {
  position:absolute;
  top:0.6em;
  width:100%;
  left:0;
  font-size:2em;
  font-style:italic;
  text-align:center;
  color:#fff;
  opacity:0;
}


.arrow-wrap:hover .hint {
  opacity:1;
}


  @-webkit-keyframes arrows {
    0% { top:0; }
    10% { top:12%; }
    20% { top:0; }
    30% { top:12%; }
    40% { top:-12%; }
    50% { top:12%; }
    60% { top:0; }
    70% { top:12%; }
    80% { top:-12%; }
    90% { top:12%; }
    100% { top:0; }
  }
  
  .arrow-wrap .arrow {
    -webkit-animation: arrows 2.8s 0.4s;
    -webkit-animation-delay: 3s;
  }

div.container.dark.middle {
   margin-top: 200px;
}

body.dark {
  background: #3A3939;
}

img {
     max-width: 100%;
}

img.rounded {
  border-radius: 9px;
}

img.bigger {
  width: 100%;
}


hr {
  width: 50%;
  border-color: #3A3939;
}

p {
  color: #3A3939;
  padding-top: 5px;
  font-size: 1.125em;
  margin-bottom: 0px;
}

p.about {
  font-size: 1.5em;
  /*padding-right: 15px;
  padding-left: 15px;*/
 /* margin-right: auto;
  margin-left: auto;*/
}
/*p.about {
  font-size: 2em;
  margin-left: -20px;
  margin-right: 50px;
  padding: 20px 100px 0px 0px ;
}*/

p.subtitle {
  padding-bottom: 20px;
  font-size: 1.2em;
}

p.copyright {
  font-size: 1em;
}

p.dark {
  color: #FFFFFF;
}

a.dark {
  color: #FFFFFF;
}

a {
    color: #3A3939;
    text-decoration: none;
}

a:hover {
    color: #FFE200;
    text-decoration: none;
}


/*navbar dark mode test*/
.navbar-default.dark {
  background-color: #3A3939 !important;
  border: none;
}

.navbar-toggle.dark {
    border-radius: 0px;
    z-index:3; 
    border-color: #3A3939;

}

.navbar-default .navbar-toggle.dark:hover {
    background-color: #3A3939;
}

.navbar-default .navbar-toggle .icon-bar.dark {
    background-color: #ffffff;
}

.navbar-default .navbar-collapse.dark {
    border-color: transparent;

}

button.navbar-toggle.dark {
  border-color: #3A3939;
}

.navbar-default .navbar-nav.dark>li>a {
    color: #ffffff;
    font-size: 1.5em;
}


.navbar-default .navbar-nav.dark > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    background-color: #3A3939 !important;
    color: #FFE200;
}

span.icon-bar.dark {
  background-color: #ffffff;
}
/*end dark mode css*/


.navbar-brand
{
    position: absolute;
    width: 100%;
    left: 0;
    text-align: center;
    margin:0 auto;
}

.navbar-toggle {
    border-radius: 0px;
    z-index:3; 

}

.navbar-default {
  background-color: #ffffff;
  border-color: #ffffff;
  margin-top: 5px;
}

.navbar-default .navbar-toggle {
    border-color: #ffffff;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #3A3939;
}

.navbar-default .navbar-toggle:hover {
    background-color: #ffffff;
}

.navbar-default .navbar-collapse {
  border-color: #ffffff;
}

.navbar-default .navbar-nav>li>a {
    color: #3A3939;
    font-size: 1.5em;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  background-color: #ffffff;
  color: #FFE200;
}


.row {
	min-height: 100px;
  padding-top: 20px;
}

div.row.copyright {
  padding-top: 70px;
}

div.404 {
	margin-top: 50px;
}

.col-md-4 {
  padding-top: 20px;
}

iframe {
  border-radius: 9px;
  max-width: 100%;
}

a.btn.btn-dark {
  background: #3A3939;
  color: white;
}

a.btn.btn-dark:hover {
  background: #3A3939;
  color: #FFE200;
}

.caption {
  font-size: 2em;
}

img.taipei {
 

}







